.Explore-title{
    text-align: center;
    border-bottom: wheat solid 1px;
}
.songChange{ 
    display: none;
}
.song-container{
    /* border-radius: 5px; */
    margin: 10px;
    padding: 10px;
}
.song-container-color1{
    background: linear-gradient(359.33deg, #F8A850 -16.71%, #1067a5 28.57%, #A56EB9 120.71%);
}
.song-container-color2{
    background: linear-gradient(359.33deg, #F8A850 -16.71%, #3D6D8F 28.57%, #B96E6E 120.71%);
}
.song-container-color3{
    background: linear-gradient(359.33deg, #F8A850 -16.71%, #3D6D8F 28.57%, #A56EB9 120.71%);
}
.song-container-color4{
    background: linear-gradient(359.33deg, #F8A850 -16.71%, #3D6D8F 28.57%, #B96E6E 120.71%);
}
.song-item{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.singer-container{
    display: none;
}
.line{
    height: 100%;
    background-color: #f8a850;
    width: 5px;
    margin:0 10px;
}
@media screen and (min-width: 768px){ 
    .music-news{
        display: inline-block;
    }
}
@media screen and (min-width: 996px){  
    .song-rwd{
        display:none;
    }
    .songChange{
        height: 1000px;
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    .singer-container{
        width: 49%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .song-container{
        width: 49%;
        height: 100%;
    }
    #hovertop_1,#hovertop_2{
        height: 40%;
        /* background-color: #aaa; */
        border-bottom: 1px wheat solid;
        cursor: none;
    }
    #hoverbottom_1,#hoverbottom_2{
        border-top: 1px wheat solid;
        height: 40%;
        cursor: none;
    }
    .songgroup{
        width: 400px;
        height: 20%;
        overflow: hidden;
    }
    .singergroup{
        width: 400px;
        height: 20%;
        align-self: flex-end;
        overflow: hidden;
    }
    .singer{
        width: 400px;
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        position: relative;
        bottom: 200px;
    }
    .song{
        width: 400px;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        bottom: 200px;
    }
    .song p,.singer p{
        font: 50px bold Arial, Helvetica, sans-serif;
        margin: 0;
        transition: 0.4s;
    }
    .cursor{ 
        width: 100px;
        height: 100px;
        background-color: #bca6a9;
        position: absolute;
        pointer-events: none;  
        /* animation: cursorAnim 1s infinite alternate; */
    } 
    .pointUp{
        clip-path: polygon(50% 0%,100% 100%,0% 100%);
        animation: cursorAnimUP 1s infinite alternate;
    }
    .pointDown{
        clip-path: polygon(0% 0%,100% 0%,50% 100%);
        animation: cursorAnimDOWN 1s infinite alternate;
    }
    .clickani{
       
        animation: clickani .5s forwards;
    }
}
@media screen and (min-width: 1200px){
   
}
@keyframes cursorAnimUP {
    from {
        transform: translate3d(0,0px,0px);
        opacity: 0.8;
    }
    to {  
        transform:  translate3d(0,-50px,0px); 
    }
}
@keyframes cursorAnimDOWN {
    from {
        transform: translate3d(0,0px,0px); 
        opacity: 0.8;
    }
    to {     
        transform:  translate3d(0,50px,0px);
    }
}
@keyframes clickani {
   0% {
        transform: scale(1);
        opacity: 0.1;
    }
    25%{
        transform: scale(0.5);
        opacity: 0.5;
    }
    50% {
        transform: scale(1.2);
        background-color: #f8a850;
        opacity: 0.8;
    }
    100%{
        background-color: #bca6a9;
        transform: scale(1);
        opacity: 1;
    }
}