.trial{
    background-color: #f8a850;
    padding: 10px;
    border-radius: 6px;
    border:1px;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}
.para-container{ 
    position: relative;
}
.parapic{
    display: flex;
    justify-content: center;
}
#bg{
    display: flex;
    width: 100%;
}
.para-container-word{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    position: relative;
    bottom: 80px;
}
.para-container-word>h1{
    letter-spacing: -2px;
}
.para-container-word>p{
    font-size: 16px;
}
/* ====================================== */
.section-title{
    display: flex;
    justify-content: center;
}
.section-title-word{
    align-self: center;
    border-left: #bca6a9 1px solid;
    padding: 10px;
    margin: 10px;   
}
.section-title-word>span{
    font-size: 16px;   
}
/* ======================================= */
.explore-content{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: auto;
	padding:  80px;
	margin:0 auto;
    overflow-x: scroll;
    overflow-y: hidden;
}
.explore-container{
    min-width: 100%;
	height: 300px;
	padding: 20px;
    margin: 10px;
    border-radius: 10px;
}
.explore-items>img{
    width: 50%;
}
.explore-items{
    background: linear-gradient(179.97deg, rgba(248, 168, 80, 0.8) 21.97%, rgba(255, 52, 113, 0.8) 69.42%, #6F0F87 110.4%);
    border-radius: 5px;
    padding: 10px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}
.none{
    display: none;
}
/* ------------------------------------------- */
.artist-word{
    opacity: 1;
    transition: 1s;
}
.artist-content{
    padding: 20px;
}
.artist-pic{
    overflow: hidden; 
    display: flex;
    justify-content: center;
    position: relative;
}
.artist-pic>img{  
    width: 50%;  
}
#polypic{
    position: absolute;
    left: 0;
    clip-path: polygon(0% 25%,100% 50%,100% 100%,0% 100%);
    transition: 1s;
}
#polypic-2{
    position: absolute;
    right: 0;
    clip-path: polygon(0% 0%,100% 0%,100% 50%,0% 25%);
    transition: 1s;
}
/* -------------------------------------- */
.review-container{
    background-image: url(../pic/reviewbg.png);
}

/* --------------------------------- */
.main-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: auto;
	padding:  80px;
	margin:0 auto;
	overflow-x: scroll;
	overflow-y: hidden;
	border-right: 5px solid wheat;
	cursor: grab;
}
.explore-content::-webkit-scrollbar {
	height: 10px;
}
.explore-content::-webkit-scrollbar-track {
	background: black;
}
.explore-content::-webkit-scrollbar-thumb {
	background-color: orange;
}
.main-container::-webkit-scrollbar {
	height: 10px;
}
.main-container::-webkit-scrollbar-track {
	background: black;
}
.main-container::-webkit-scrollbar-thumb {
	background-color: orange;
}
.main-container {
  scrollbar-width: thin;
  scrollbar-color: orange white;
 
}
.tabimg1{
    background-image: url(../pic/singer16.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.tabimg2{
    background-image: url(../pic/singer10.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.tabimg3{
    background-image: url(../pic/singer11.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.tabimg4{
    background-image: url(../pic/singer15.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.tabimg5{
    background-image: url(../pic/singer7.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-container_tab {
    width: 100%;
	height: 300px;
	padding: 20px;
    margin: 10px;
	border-radius: 10px;
	transition: all .5s ease-in-out;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	cursor: grab;
}
.main-container_tab {
	
	transform-origin: 100%;
	box-shadow: -5px 0 20px 0 rgba(0, 0, 0, 0.2);
}
.main-container_tab:hover {
	transform: rotate(5deg) translateX(-120px);
}
.main-container_tab_date span {
	opacity: .8;
	font-weight: 500
}
.main-container_tab_title>a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: orange;
	margin: 0;
}
.main-container_tab_photoauthor {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}
.main-container_tab_author {
	margin-left: 20px;
	font-family: 'Roboto Mono', monospace;
	color: white;
	font-size: .8rem
}
#next{
    display: none;
}

/* ----------------------------------------------------------- */
@media screen and (min-width: 768px){
    #bg{
        display: none;
    }
    .main-container_tab {
		min-width: 50%;
	}
    .explore-container{
        min-width: 50%;
    }
    .para-container-word{
        position: absolute;
        top: 25%;
        left: 45%;
    } 
    .explore-container{
        justify-content: center;
        padding: 20px;
        width: 40%;
    }
    /* --------------- */
    .none{
        display: inline-block;
    }
    .artist-item{
        width: 50%;
        margin-right: auto;
        margin-left: auto;
    }
 }
 @media screen and (min-width: 996px){
    #next{
        position: absolute;
        left: 75%;
        top: 45%;
        border: none;
        background-color: #2f0521;
    }
    .next-button{
        width: 100px;
        height: 100px;
        background-color: #f8a850;
        cursor: pointer;
        clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
        transition: 0.5s;
    }
    .next-button:hover{
       transform: scale(1.2);
    }
    .para-container{ 
        display: flex;
        position: relative;
        background: linear-gradient(179.97deg, #F8A850 21.97%, #951B40 45.25%, #6F0F87 99.51%);
    } 
    .parapic{
        width: 100%;
        height: 1000px;
    }
    #pic4{
        padding: 0;
        width: 100%;
        height: 1000px;
        background-image: url(../pic/parallex1.png);
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        position: absolute ;
        bottom: 0;
     }
     #pic3{
        padding: 0;
        width: 100%;
        height: 1000px;
        background-image: url(../pic/parallex3.png);
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
        position: absolute ;
        bottom: 0;
     }
     #pic2-1{
        padding: 0;
        width: 100%;
        height: 1000px;
        background-image: url(../pic/parallex2-1.png);
        background-size: contain;
        background-position:right;
        background-repeat: repeat;
        position: absolute ;
        top: 0;
     }
     #pic2{
        padding: 0;
        width: 100%;
        height: 1000px;
        background-image: url(../pic/parallex6.png);
        background-size: contain;
        background-position: bottom;
        background-repeat: repeat-x;
        position: absolute ;
        top: 0;
     }
     #pic2-2{
        padding: 0;
        width: 100%;
        height: 1000px;
        background-image: url(../pic/parallex4.png);
        background-size: contain;
        background-position: bottom;
        background-repeat: repeat-x;
        position: absolute ;
        top: 0;
     }
     #pic1{
        padding: 0;
        width: 100%;
        height: 1000px;
        background-image: url(../pic/parallex5.png);
        background-size: contain;
        background-position: bottom;
        background-repeat: repeat-x;
        position: absolute ;
        bottom: 0;
     }
     #pic{
        padding: 0;
        width: 100%;
        height: 1000px;
        background-image: url(../pic/parallex9.png);
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
        position: absolute ;
        bottom: 0;
     }
    .img1{
        width: 100%;
        display: flex;
    } 
   
    .container-word>h1{
       font-size: 60px;
    }  
    .explore-container{      
        justify-content: center;
        padding: 20px;
        width: 20%;
    }
    .review-container{
        display: flex;
        justify-content: center;  
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .review{   
        padding: 60px;   
    }
    section{
        /* margin-top: 50px; */
        margin-bottom: 50px;
    }
    .empty{
        background-color: #2f0521;
        display: block;
        position: relative;
        bottom: 2px;
        z-index: 30;
    }
    .main-container_tab {
		min-width: 30%;
	}
    .explore-container{
        min-width: 30%;
    }
 }
 @media screen and (min-width: 1200px){  
    .img1{
        width: 100%;
        display: flex;
    }
    .section-title{
        display: flex;
        width: 50%;
    } 
    .explore-content{
         display: flex;
    }
    .explore-content{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 80%;
        height: auto;
        padding:  80px;
        margin:0 auto;
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: thin;
        scrollbar-color: orange white;
    }
    .explore-items{
        border-radius: 5px;
        padding: 10px;
        display: flex; 
        flex-wrap: wrap;
        justify-content: center;
    }
    .empty{
        background-color: #2f0521;
        display: block;
        position: relative;
        bottom: 2px;
        z-index: 30;
    }
    .main-container_tab {
		min-width: 20%;
	}
    .explore-container{
        min-width: 20%;
    }
    .artist-content{
        display: flex;
    }
 }