
.artical{
    padding-top: 20px;
} 
.artical>h2{
    display: none;
    text-align: left;    
}
.artical-pic{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    }
    
.artical-word{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    
}
.card{
    margin-right: auto;
    margin-left: auto;
}

.relatedtitle{
    width: 80%;
    margin: auto;
    border-bottom: wheat solid 1px;
}

.related{
   display: flex;
}  
.card{
    width: 75%;
    position: relative;
}
.menu{
    display: none;
    width: 25%;
    
    position: relative;
}
.menuitems{
    width: 50%;
    display: inline-block;
    /* flex-direction: column; */
    position: sticky;
    top: 100px;
}

.menu>img{
    width: 100%;
}
.items{
    display: flex;
    width: 100%;
    justify-content: center;  
}
.items-pic{
    position: relative;   
}

.items-title>p{
    margin-left: 20px;
    align-self: center;
    opacity: 0;
    transition: .5s;
}
.items-title:hover>p{
    opacity: 1; 
}
.items-title:hover>img{
    filter: blur(5px); 
}
.items-title:hover>.items-pic>span{
    background-color: #2f0521; 
    
}
.items-title{
    
    display: flex;
    position: relative;
} 
@media screen and (min-width: 768px){

}
@media screen and (min-width: 996px){
    .artical{
        padding-top: 20px;
        display: flex;
        justify-content: center;
    } 
    .artical>h2{
        display: inline-block;
        text-align: right;        
    }
    .artical-pic{
        width: 20%;
        overflow: hidden;
        margin-right: 0;
        margin-left: 0;
        align-self: center;
        }
    .menu{
        display: inline-block;
        width: 25%;
        
        position: relative;
    }
}
@media screen and (min-width: 1200px){
   
}