
.artical{
    padding-top: 20px;
} 
.artical>h2{
    display: none;
    text-align: left;    
}
.artical-pic{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    }
    
.artical-word{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    
}
/* ==================================== */

.item{
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    width: 50%;
}
.item>img{
    vertical-align: top;
    transition: 1s;
}
.hover{
   display: inline-block;

}
.hover h2{
    border-top: wheat 1px solid;
    opacity: 1;
}
.hover p{
    border-bottom: wheat 1px solid;
    opacity: 1;
}
.item:hover img{
   filter: blur(3px);
}
.item:hover .hover{
    right: 0%;
}
.card{
    margin-right: auto;
    margin-left: auto; 
    width: 100%;
    position: relative;
}

.relatedtitle{
    width: 80%;
    margin: auto;
    border-bottom: wheat solid 1px;
}
.related{
   display: flex;
}  
.menu{
    display: none;
    width: 25%;
    
    position: relative;
}
.menuitems{
    width: 50%;
    display: inline-block;
    /* flex-direction: column; */
    position: sticky;
    top: 100px;
}
.menu>img{
    width: 100%;
}
@media screen and (min-width: 768px){

}
@media screen and (min-width: 996px){
    .artical{
        padding-top: 20px;
        display: flex;
        justify-content: center;
    } 
    .artical>h2{
        display: inline-block;
        text-align: right;        
    }
    .artical-pic{
        width: 20%;
        overflow: hidden;
        margin-right: 0;
        margin-left: 0;
        align-self: center;
        }
    .menu{
        display: inline-block;
        width: 25%;
        
        position: relative;
    }
    .hover{
        position: absolute;
        background-color: #2f0521;
        width: 100%;
        height: 100%;
        right: 100%;
        opacity: 0.8;
        transition: 0.5s;
        z-index: 5;
    }
}
@media screen and (min-width: 1200px){
   
}