
body{
    background-color: #2f0521;

}
a{
    text-decoration: none;
    color: #2f0521;
}
.joinus-bg{
    /* background-image: url("pic/city1");
    background-size: contain;
    background-color: #6F0F87; */
    width: 100%;
    margin-top: 100px;
    position: relative;
    vertical-align: top;
}
.joinus{
    position: absolute;
    left: 5%;
top: 0;
}
.joinus> .joinus-word>h1{
color: wheat;
font-size: 100px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
line-height: .9;
letter-spacing: -8px;
border-bottom: #bca6a9 solid 5px;
}  
.joinus> .joinus-word>p{
margin-top: 20px;
color: wheat;
font-size: 50px;
font-weight: 100;
font-family: Arial, Helvetica, sans-serif;
line-height: .5;     
}
.joinus>.joinus-button{
margin-top: 40px;
}
.joinus>.joinus-button>a{
/* justify-content: center; */
background-color: #f8a850;
color: #2f0521;
padding: 10px;
border-radius: 6px;
border:0;
transition: .5s;
text-decoration: none;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
font-size: 50px;

}
.joinus>.joinus-button>a:hover{
background-color: #f8bb7a;
color: #52173e;
}
/* .joinus>.joinus-button>button>a{

} */

.explore{
color: white;
}
.explore-title{
display: flex;
margin-right: 20%;
margin-left: 20%;
margin-top: 100px;

}
.explore-title-left{
padding: 10px;

font-size: 30px;
font-weight: 700;
font-family: Arial, Helvetica, sans-serif; 
align-content: center;

color: wheat;
border-right: solid #bca6a9 5px;
}
.explore-title-right{
padding: 20px;
align-content: center;

font-size: 30px;
font-weight: 100;
font-family: Arial, Helvetica, sans-serif; 
color: #bca6a9;

}
.explore-content{
background-image: url(pic/citybg2.png);
background-size: contain;
background-repeat: no-repeat;
background-position: bottom;      
justify-content: space-between;       
display: flex;       
}
.explore-content-left{
    width:70%;
display: flex;
justify-content: center;
/* margin: 20px; */
margin-left: auto;
margin-right: auto;
box-sizing: border-box; 
align-content: center; 
margin-top: 100px;  
}
.explore-container{
width: 25%;   
position: relative; 
            
}
.explore-items{
    margin-right: 10%;
    margin-left: 10%;
    display: flex;

    /* justify-content: center; */
    flex-direction: column; 
    flex-grow: 1;
}
        .fir >h3{
        position: relative;                   
        top: -50px;  
        transition: .5s;                 
        }
        .fir >p{
            position: relative;                   
            top: -50px;  
            transition: .5s; 
            opacity: 0;                
            }
        .fir:hover > h3{
            color:wheat;
            top: 0px; 
        }
        .fir:hover > p{
            top: 0px;
            opacity: 1; 
        }
    .explore-items>img{
        border-radius: 10px;
    }
    .explore-items>h3{
        margin: 5px;
        color: #f8a850;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 30px;
        text-decoration: underline #bca6a9;
    }
    .explore-items>p{
        margin: 5px;
        color: #bca6a9;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
        font-size: 20px;
    }
        .explore-items-line{
            width: 100%;
            height: 5px;
            color: #f8a850;
            display: inline-block;
        }
/* .explore-content-right>img{
width: 50%;
/* position: absolute;
right: 0;
top: 0; 
} */
.quality-title{   
margin-left: 10%;
margin-right: 10%;
margin-top: 10%;
}
.quality-sub{
font-size: 200%;
font-weight: 700;
font-family: Arial, Helvetica, sans-serif; 
align-content: center;
color: #bca6a9;
}
.quality-main>img{
width: 50%;  
}
.quality-container{
margin-left: auto;
margin-right: auto;

background-image: url(pic/explorebg.png);
background-size: contain; 
background-repeat: no-repeat;
background-position: center;
padding-top: 10%;
padding-bottom: 10%;
width: 75%;

}
.quality-item{
display: flex;   
justify-content: space-around;  

}   
.quality-item-word{
width: 30%;
font-size: 40px;
font-weight: 700;
font-family: Arial, Helvetica, sans-serif; 
color: wheat;
text-align: center;
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 20px;
box-sizing: border-box;
border: rgba(248, 168, 80, 0.5) solid 5px; 
border-style: hidden; 
transition: .3s; 
} 
.quality-item-word:hover{
border-style:solid;
}
.quality-item-word>span{
    font-weight: 600;
    font-size: 20px; 
        /* display: inline-block;      */
}
.quality-item-word>p{
    font-weight: 100;
    font-size: 15px;
    color: #bca6a9;
    opacity: 0;
    transition: .5s;
    text-align: left;
    display: inline-block; 
}
.quality-item-word:hover >p{
    opacity: 1;
}
.quality-item-word:hover >h3{
    opacity: 1;
    text-shadow: rgb(235, 198, 243) 0px 0px 10px;
    transform: scale(1.3);
}
.quality-item-pic>img {
transition: .3s;
width: 75%;  
opacity: .5;
}
.quality-item-word:hover >.quality-item-pic>img { 
opacity: 1;
    
}              
.review{
    margin-top: 10%;
}
.review-content{
    display: flex;
}  
.review-content-title{
            font-size: 60px;
            font-weight: 700;
            font-family: Arial, Helvetica, sans-serif; 
            color: wheat;
            text-decoration: underline #bca6a9;
            margin-left: 20%;
    }

.review-container{
    background-image: url(pic/reviewbg.png);
    background-size: contain;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-right: 10%;
    margin-left: 10%;
    width: 75%;
} 
.review-items{
        background: linear-gradient(240deg, rgba(111, 15, 135, 0.8) 25.35%, rgba(237, 152, 59, 1) 83.96%);
        margin: 10px;
        display: flex;
        flex-direction: column; 
        border-radius: 25px;
        margin-right: auto;
        margin-left: auto;
        width: 25%;    
    }

.review-title{
    display: flex;
    width: 25%;
    justify-content: flex-end;
}
.review-pic{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}
.review-pic>img{
    width: 75%; 
}
.review-word{
    padding: 20px;
}
.review-word>a>h3{   
    margin: 5px;
    color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-decoration: underline #bca6a9;
}
.review-word>a>p{   
    margin: 5px;
    color: #bca6a9;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin: 10px;
}
.review-word:hover{
    text-shadow: rgb(235, 198, 243) 0px 0px 10px;
}