body{
    background-color: #2f0521;
    top: 107px;
    
}
ul{
    display: flex;
    list-style: none;
}

li{
    padding: 40px 20px;
    position: relative;
}
h2{
    color: wheat;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
span{
    color: wheat;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.banner{
    padding-bottom: 20%;
    background-image: url(pic/librarybg.JPG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    filter: blur(2px);   
}
.bannerperson{
    position: relative;
    padding: 10px;
}
.bannerperson>span{
    background-color: #323131;
    color: #f8a850;
    font-size: 60px;
    position: absolute; 
    left: 20%; 
    top: -2000%; 
}
.playlist{
    display: flex;
    max-width: 1500px;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    border-top: #f8a850 solid 5px;

}
.playlist-item{
    border-bottom: wheat solid 1px;
    padding-top: 10px;
}
ul>li{
    align-self: center;
}
ul>li>span{
    color: #f8a850;
}
.playlist-container{
    padding: 20px;
}
.playlist-menu{
    border-left: #f8a850 solid 5px;
    width: 25%;
}
.menuspan{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 100px;
}
.menuspan>span{
   border: wheat solid 1px;
   margin: 5px;
   text-align: center;
}
.musictitle{
    position: absolute;
    font-weight: 700;
    left: 30%;
    top: 50%;
    opacity: .5;
    transition: .5s;
}
.musicinfo{
    position: absolute;
    left: 0;
    top: 100%;
    opacity: 0;
    transition: .3s; 
    font-size: 15px;
    text-align: center;
}
.hover:hover ~ .musictitle {
    opacity: 1;
}
.hover:hover ~ .musicinfo {
    opacity: 1;
    top: 75%;
}